@media(max-width: 375px){

    .inicio{
        height: 160px;
    }

    .busca{
        height: 33px;
    }

    .dat{
        font-size: 11.8px;
    }

    .titulo{
        font-size: 17.7px;
    }

    .intro{
        font-size: 13.7px;
    }

    .cabeca{
        font-size: 24px;
    }


    
    /*modal*/

    .modal{
        width: 380px;
        height: 730px;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .modal::-webkit-scrollbar{
        width: 14px;
    }

    .modal::-webkit-scrollbar-thumb{
        background: #E07B67;
        border-left: 2px solid #121212;
        border-right: 2px solid #121212;

    }

    .modal

    .contentando h2{
        font-size: 19px;
        
    }

    .contentando p{
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .datm{
        font-size: 15px;
        width: 300px;
    }

    .imagem{
        width: 260px;
        height: 230px;
        padding-left: 13px;
        padding-right: 12px;
        float: none;
        align-items: center;
        padding-left: 42px;
    }

    .fechar{
        width: 38px;
        height: 38px;
        font-size: 23px;
        top: 6px;
        right: 6px;
    }
}
